.app {
  text-align: center;
  background-image:linear-gradient(to left,yellow,blue);
}

.nav-bar {
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height:10vh;
  background-image: linear-gradient(to right,yellow,blue);
  color: black;
}

.nav-links {
  width:40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color:black;
}

li{
  color:black;
  
}

body {
  background-image:linear-gradient(to left,yellow,blue);
}

.pfp {
  width:350px;
  height:350px;
}

.userDescription {
  text-align: left;
  font-weight: bold;
}

td {
  border:1px;
  padding: 25px;
}